NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-firebase-project-id
NEXT_PUBLIC_FIREBASE_SENDER_ID=your-firebase-messaging-sender-id
NEXT_PUBLIC_FIREBASE_VAPID_KEY=your-web-push-vapid-key
